.customer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    height: 90%;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 0px;
    text-decoration: none;
}
